version: "3.9"

services:
  nodered:
    image: nodered/node-red:latest
    container_name: nodered
    ports:
      - "1881:1880"
    volumes:
      - ./nodered_data:/data
    restart: always
    networks:
      - iot_net

  influxdb:
    image: influxdb:2.7
    container_name: influxdb
    ports:
      - "8087:8086"
    volumes:
      - ./influxdb_data:/var/lib/influxdb2
    restart: always
    networks:
      - iot_net

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    ports:
      - "3000:3000"
    volumes:
      - ./grafana_data:/var/lib/grafana
    restart: always
    networks:
      - iot_net

  mariadb:
    image: mariadb:11
    container_name: mariadb
    environment:
      MYSQL_ROOT_PASSWORD: 123456
      MYSQL_DATABASE: iotdb
    ports:
      - "3307:3306"
    volumes:
      - ./mariadb_data:/var/lib/mysql
    restart: always
    networks:
      - iot_net

  phpmyadmin:
    image: phpmyadmin:latest
    container_name: phpmyadmin
    ports:
      - "8088:80"
    environment:
      PMA_HOST: mariadb
      PMA_PORT: 3306
    restart: always
    networks:
      - iot_net

  nginx:
    image: nginx:alpine
    container_name: nginx
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
      - ./frontend:/usr/share/nginx/html/frontend
    depends_on:
      - nodered
    restart: always
    networks:
      - iot_net

networks:
  iot_net:
    driver: bridge
